body {
  background-color: black;
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(0, 200, 0);
}

code {
  font-family: monospace;
}

input {
  background-color: black;
  margin: 2px;
  border-radius: 3px;
  border-color: rgb(0, 200, 0);
  color: rgb(0, 200, 0);
}